<html>
  <head>
    <title>Barchart</title>
    <link
      rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/barchart.css" />
  </head>

  <body>
    <header>
      <a href="/">Home</a> 
    </header>
    
    <h2 id="title"></h2>
    <svg></svg>
  
    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>

    <script src="/js/barchart.js" defer></script>
  </body>
</html>