<!DOCTYPE html>

<html>
  <head>
    <title>Book Notes</title>
    <link
      rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <a href="/">Home</a>
      
      <h1>Book Notes</h1>
      <h2>Instructions:</h2>
      <ul>
        <li>
          Enter a book title to add a new book.
        </li>
        <li>
          Once a book title is added, you can add comments by clicking the book title and entering a value in the "New Comment" box and clicking the "Add Comment" button.
        </li>
        <li>
          You can delete a book by clicking the "Delete Book" button, and you can delete all book titles by clicking the "Delete all books..." button.
        </li>
      </ul>
      
      

      <div id="sampleui">
        <form id="newBookForm" class="border">
          <input type="text" id="bookTitleToAdd" name="title" placeholder="New Book Title" style="width: 295px">
          <button type="submit" value="Submit" id="newBook">Submit New Book!</button>
        </form>
        <div id="display"></div>          
        <div id="bookDetail" class="border">
          <p id="detailTitle">Select a book to see it's details and comments</p>
          <ol id="detailComments"></ol>
        </div>
        <button id="deleteAllBooks">Delete all books...</button>
      </div>
      <hr style="margin: 50px">
      
      <h2>API</h2>
      
      <h3>/booknotes/api</h3>
      
      <h4>GET</h4>
      <div>Input:
        <code>/booknotes/api</code>
      </div>
      <div>Output:
        <code>
          [{ "_id": "5d9cb3b8bf347911bd771a54",
             "title": "Matilda",
             "commentcount": 6
           },
           { "_id": "5d9cb47bbf347911bd771a55",
             "title": "Lord of the Rings",
             "commentcount": 0
           }
          ]
        </code>
      </div>
      <h4>
        POST
      </h4>
      <div>Input:
        <code>"title": "Lord of the Rings"</code>
      </div>
      <div>Output:
        <code>
         { "_id": "5d9cb47bbf347911bd771a55",
           "title": "Lord of the Rings",
         }
        </code>
      </div>
      
      <h4>
        DELETE
      </h4>
      <div>Input:
        <code>None</code>
      </div>
      <div>Output:
        <code>
         { "success": "complete delete successful"}
        </code>
      </div>

      <br>
      <h3>/booknotes/api/:id</h3>
      
      <h4>GET</h4>
      <div>Input:
        <code>/booknotes/api/5d9cb3b8bf347911bd771a54</code>
      </div>
      <div>Output:
        <code>
          { "_id": "5d9cb3b8bf347911bd771a54",
             "title": "Matilda",
             "comments": [
               "comment one",
               "comment two",
               "comment three"
              ]
           }
        </code>
      </div>
      <h4>
        POST
      </h4>
      <div>Input:
        <code>"comment": "The middle section was incredibly structured."</code>
      </div>
      <div>Output:
        <code>
         { "_id": "5d9cb3b8bf347911bd771a54",
             "title": "Matilda",
             "comments": [
               "comment one",
               "comment two",
               "comment three",
               "The middle section was incredibly structured."
              ]
           }
        </code>
      </div>
      
      <h4>
        DELETE
      </h4>
      <div>Input:
        <code>None</code>
      </div>
      <div>Output:
        <code>
         { "success": "delete successful"}
        </code>
      </div>
      
      <div class="footer">
        <p>
          by <i>Alex Olivera</i>
        </p>
      </div>
      
      <script
        src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"
      ></script>

      <!-- import the webpage's client-side javascript file -->
      <script src="/js/booknotes.js" defer></script>
    </div>
  </body>
</html>
