<html>
  <head>
    <title>Calculator</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
  </head>

  <body style="background-color:black">
    <header>
    <ul id="nav-bar" class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
    </ul>
    </header>
    <h1>Calculator</h1>
    
      <!--Calculator-->
  <div id="div-calculator" class="container">
    
    <!--Title-->
    <h4 id="title" class= "text-center"><strong><i>Calculator</i></strong></h4>
      
      <!--Output-->
      <div id="display">
        <h4 id="text-output">0</h4>
      </div>
      <!--Output End-->
      
      <!--Buttons-->
      <div class="my-row">
        <button id="clear" class="button-input btn-info btn-lg"><strong>AC</strong></button>
        <button id="clearentry" class="button-input btn-info btn-lg"><strong>CE</strong></button>
        <button id="modulus" class="button-input btn-info btn-lg"><strong>%</strong></button>
        <button id="divide" class="button-input button-input-rightmost btn-info btn-lg"><strong>/</strong></button>
      </div>
      <div class="my-row">
        <button id="seven" class="button-input btn-info btn-lg"><strong>7</strong></button>
        <button id="eight" class="button-input btn-info btn-lg"><strong>8</strong></button>
        <button id="nine" class="button-input btn-info btn-lg"><strong>9</strong></button>
        <button id="multiply" class="button-input button-input-rightmost btn-info btn-lg"><strong>*</strong></button>
      </div>
      <div class="my-row">
        <button id="four" class="button-input btn-info btn-lg"><strong>4</strong></button>
        <button id="five" class="button-input btn-info btn-lg"><strong>5</strong></button>
        <button id="six" class="button-input btn-info btn-lg"><strong>6</strong></button>
        <button id="subtract" class="button-input button-input-rightmost btn-info btn-lg"><strong>-</strong></button>
      </div>
      <div class="my-row">
        <button id="one" class="button-input btn-info btn-lg"><strong>1</strong></button>
        <button id="two" class="button-input btn-info btn-lg"><strong>2</strong></button>
        <button id="three" class="button-input btn-info btn-lg"><strong>3</strong></button>
        <button id="add" class="button-input button-input-rightmost btn-info btn-lg"><strong>+</strong></button>
      </div>
      <div class="my-row">
        <button id="decimal" class="button-input btn-info btn-lg"><strong>.</strong></button>
        <button id="zero" class="button-input btn-info btn-lg"><strong>0</strong></button>
        <button id="answer" class="button-input btn-info btn-lg"><strong>Ans</strong></button>
        <button id="equals" class="button-input button-input-rightmost btn-info btn-lg"><strong>=</strong></button>
      </div>
      <!--Buttons End-->
      
  </div>
  <!--Calculator End-->
    
    <hr>

    <div class="footer">
      <p>
        by <i>Alex Olivera: (<a href="mailto: oalex90@gmail.com">oalex90@gmail.com</a>)</i>
      </p>
    </div>

    <script src="../public/js/calculator.js"></script>
  </body>
</html>