<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../public/img/favicon.ico" type="image/x-icon">
    <title>Emoter</title>
</head>
<body>
    <div id="header-container">
        <div class="container">
            <header>
                <nav>
                    <a href="/"><img id="logo" src="../public/img/Logo1.svg" alt="logo"></a>
                </nav>   
                <h1>Emoter</h1>
                <div></div>  
            </header>
        </div>
    </div>

    <div id="react">Coming Soon...</div>

    <footer>
        <div id="footer-container">
            <div class="container">
                <p>
                    Created by Alex Olivera
                </p>
            </div>
        </div>
    </footer>

<script src="../public/js/emoter.js" defer></script>
    
</body>
</html>