<html>
  <head>
    <title>Force Directed Graph</title>
    <link
      rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
      type="image/x-icon"
    />
    <!-- Link doesn't work anymore. Need to find new one -->
    <link rel="stylesheet" href="https://www.cs.mun.ca/~h65ped/Public/country%20data%20for%20force%20directed%20graph/flags.css"/>
    <link rel="stylesheet" href="/css/forcedirected.css" />
  </head>

  <body>
    <header>
      <a href="/">Home</a> 
    </header>
    
    <h2></h2>
    <div id="graph">
      <div id="flags"></div>
    </div>

    
    <div class="footer">
      <p>
        by <i>Alex Olivera</i>
      </p>
    </div>
  
    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>

    <script src="/js/forcedirected.js" defer></script>
  </body>
</html>