<!DOCTYPE html>

<html>

  <head>
    <title>Alex Olivera</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  

   <body>
    <header>
      <ul id="nav-bar" class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#server-tools">Server Tools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#client-tools">Client Tools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#games">Games</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#data-representation">Date Representation</a>
        </li>
      </ul>
    </header>


    <div class="container">
      <h1 id="home">Alex Olivera</h1>
      <p>
        This site consists of web developement projects I have worked on recently. These projects make use of the MERN stack (MongoDB, ExpressJS, ReactJS, NodeJS). <a href="https://github.com/oalex90/alex-olivera" target="_blank">[Source code]</a>
      </p>

      <hr>

      <h2>Projects:</h2>

      <h3 id="server-tools">Server Tools</h3>
      <p class="proj-type">Tools that primarily use server-side operations (NodeJS, ExpressJS, MongoDB)</p>

      <h4><a href="/messageboard">Anonymous Message Board</a></h4>
      <p class="proj-descript">Create threads and post messages on them. Delete or report unwanted threads and messages.</p>

      <h4><a href="/issuetracker">Issue Tracker</a></h4>
      <p class="proj-descript">Create and track issues, and then close them when they are finished.</p>

      <h4><a href="/booknotes">Book Notes</a></h4>
      <p class="proj-descript">Add notes to your favorite books.</p>

      <h4><a href="/chatroom">Chat Room</a></h4>
      <p class="proj-descript">Login or create a username and send messages to others in the chat room.</p>

      <h4><a href="/shorturl">URL Shortener Microservice</a></h4>
      <p class="proj-descript">Convert a long URL into a shorter one.</p>

      <h4><a href="/stockprices">Nasdaq Stock Price Checker</a></h4>
      <p class="proj-descript">Lookup stock prices and like stocks.</p>

      <hr>
      
      <h3 id="client-tools">Client Tools</h3>
      <p class="proj-type">Tools that primarily use client-side operations (HTML, CSS, Javascript, ReactJS)</p>

      <h4><a href="/drummachine">Drum Machine</a></h4>
      <p class="proj-descript">Create tunes using the sound effect keyboard.</p>

      <h4><a href="/pomodorotimer">Pomodoro Timer</a></h4>
      <p class="proj-descript">A work/study timer with built-in breaks.</p>

      <h4><a href="/quotegen">Quote Generator</a></h4>
      <p class="proj-descript">Generate a quote and tweet it out.</p>

      <h4><a href="/calculator">Calculator</a></h4>
      <p class="proj-descript">A calcultor that performs basic operations.</p>
      
      <hr>
      
      <h3 id="games">Games</h3>
      <p class="proj-type">Client-based games that focus on visuals and logic (CSS, Javascript, ReactJS, ReduxJS)</p>

      <h4><a href="/roguelike">Roguelike Game</a></h4>
      <p class="proj-descript">Navigate through dungeons, fight enemies, find weapons, and level up your character.</p>

      <h4><a href="/gameoflife">Game of Life</a></h4>
      <p class="proj-descript">How long can you survive the game of life?.</p>

      <h4><a href="/simonsays">Simon Says</a></h4>
      <p class="proj-descript">The classic Simon Says game.</p>

      <h4><a href="/tictactoe">Tic Tac Toe</a></h4>
      <p class="proj-descript">Play tic tac toe against a well-skilled AI.</p>
      
      <hr>

      <h3 id="data-representation">Data Representation</h3>
      <p class="proj-type">Apps that use visuals to represent large quantities of external data (CSS, D3js, AJAX, jQuery)</p>

      <h4><a href="/twitchstatus">Twitch Channel Status</a></h4>
      <p class="proj-descript">See the statuses of a variety of twitch.tv channels.</p>
      <h4><a href="/treemap">Tree Map</a></h4>
      <p class="proj-descript">A tree map of the 100 highest grossing movies of all time grouped by genre.</p>

      <h4><a href="/choropleth">Choropleth</a></h4>
      <p class="proj-descript">A choropleth of the precentage of US adults with a Bachelor's degree or higher.</p>

      <h4><a href="/heatmap">Heat Map</a></h4>
      <p class="proj-descript">A heat map of the monthly global land-surface temperatures between the year 1753 and 2015.</p>

      <h4><a href="/forcedirected">Force Directed Graph</a></h4>
      <p class="proj-descript">A force directed graph of countries that border each other.</p>
      <h4><a href="/barchart">Barchart</a></h4>
      <p class="proj-descript">A barchart of the US gross domestic product between the year 1947 and 2015.</p>

      <h4><a href="/scatterplot">Scatterplot Graph</a></h4>
      <p class="proj-descript">A scaterplot graph of the doping in professional bicycle racing.</p>

    </div>

    <hr>

    <div class="footer">
      <p>
        by <i>Alex Olivera: (<a href="mailto: oalex90@gmail.com">oalex90@gmail.com</a>)</i>
      </p>
    </div>
     
   </body>
</html>