<!DOCTYPE html>
<html>
  <head>
    <title>Message Board - Board</title>
    <link
      rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/board.css" />
  </head>
  <body>
    <header>
      <ul id="nav-bar" class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/messageboard">Back</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>
    </header>

    <h1 id="boardTitle"></h1>
    
    <div id="submitNewThread">
      <h3>Submit a new thread:</h3>
      <form id="newThread" method="post" action="/api/">
        <textarea rows="8" cols="120" type="text" placeholder="Thread text..." name="text" required></textarea><br>
        <input type="text" placeholder="password to delete" name="delete_password" required><br>
        <input type="submit" value="Submit">
      </form>
    </div>
    
    <div id="boardDisplay"></div>
    
    <hr>

    <div class="footer">
      <p>
        by <i>Alex Olivera: (<a href="mailto: oalex90@gmail.com">oalex90@gmail.com</a>)</i>
      </p>
    </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/js/messageboard-board.js" defer></script>
  </body>
</html>
