<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../public/img/favicon.ico" type="image/x-icon">
    <title>Board Thread</title>
</head>
<body>
    <div id="hero-container">
        <div class="container">
            <header>
                <nav><a href="/">
                    <img id="logo" src="../public/img/logo-white.svg" alt="logo"></a>
                  
                    <a id="link-back" href="#">
                        <img id="icon-back" src="../public/img/icon-back-arrow.svg" alt="back arrow">
                        <p>Back</p>
                    </a>
                </nav>   
                <h1>Anonymous Message Board</h1>  
            </header>
        </div>
    </div>

    <div id="main-container">
        <div id="thread-display">Loading...</div>
    </div>

    <footer>
        <div id="footer-container">
            <div class="container">
                <p>Created by Alex Olivera</p>
            </div>
        </div>
    </footer>

    <script src="../public/js/messageboard-thread.js" defer></script>
</body>
</html>