<html>
  <head>
    <title>Tree Map</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/treemap.css" />
  </head>

  <body>
    <header>
      <ul id="nav-bar" class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>
    </header>
    
    <!--<div id="options">
      <a href="?option=GAMES" class="option">Video Game Data Set</a>
      <p>|</p>
      <a href="?option=MOVIES" class="option">Movies Data Set</a>
      <p>|</p>
      <a href="?option=KICKSTARTER"  class="option">Kickstarter Data Set</a>
    </div>-->
    <h1 id="title"></h1>
    <p id="description"></p>
    <div id="chart"></div>

    
    <hr>

      <div class="footer">
        <p>
          by <i>Alex Olivera: (<a href="mailto: oalex90@gmail.com">oalex90@gmail.com</a>)</i>
        </p>
      </div>
  
    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>

    <script src="/js/treemap.js" defer></script>
  </body>
</html>