<html>
  <head>
    <title>Tree Map</title>
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
  </head>

  <body>
    <header>
      <ul id="nav-bar" class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>
    </header>
    
    <!--<div id="options">
      <a href="?option=GAMES" class="option">Video Game Data Set</a>
      <p>|</p>
      <a href="?option=MOVIES" class="option">Movies Data Set</a>
      <p>|</p>
      <a href="?option=KICKSTARTER"  class="option">Kickstarter Data Set</a>
    </div>-->
    <h1 id="title"></h1>
    <p id="description"></p>
    <div id="chart"></div>

    
    <hr>

      <div class="footer">
        <p>
          by <i>Alex Olivera: (<a href="mailto: oalex90@gmail.com">oalex90@gmail.com</a>)</i>
        </p>
      </div>

    <script src="../public/js/treemap.js"></script>
  </body>
</html>