<html>
  <head>
    <title>Twitch Channel Status</title>
    <link
      rel="shortcut icon"
      href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico"
      type="image/x-icon"
    />
  </head>

  <body>
    <header>
    <ul id="nav-bar" class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
    </ul>
    </header>
    
    <h1 style="text-align:center"><i class="fa fa-twitch"></i> Twitch Status</h1>

    <div id="div-main"> <!--Main Box-->

      <!--Status Tabs Section-->
      <div id="div-status">
        <div id="div-all" class="status">All</div>
        <div id="div-online" class="status">Online</div>
        <div id="div-offline" class="status">Offline</div>
      </div>
      <!-- End of Status Tabs Section-->

      <!--Results Section-->
      <div id="div-results"> </div>
    </div>

    <div class="footer">
      <p>
        by <i>Alex Olivera: (<a href="mailto: oalex90@gmail.com">oalex90@gmail.com</a>)</i>
      </p>
    </div>

    <script src="../public/js/twitchstatus.js"></script>
  </body>
</html>