@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://www.cs.mun.ca/~h65ped/Public/country%20data%20for%20force%20directed%20graph/flags.css);

body{
  background-color: #FaFaFa;  
}

header{
  width: 100%;
  background-color: lightgrey;
}

#graph{
  margin: 30px auto; /*auto margin centers horizontally*/
  background: lightblue;
  width: 900px;
  height: 800px;
  box-shadow: 0px 0px 15px 0px #383a3a;
}

h2{
  text-align: center;
  font-size: 30px;
}

.tooltip {
  position: absolute; /*allows positioning by specifying x and y*/
  text-align: center;
  padding: 3px;
  border-radius: 5px; /*rounded edges*/
  pointer-events: none; /*hover sometimes interrupted without this*/
  background-color: black;
  color: white; /*text color*/
}

.flag {
	position: absolute;
}

#flags{
  position:absolute;
}

.footer{
  text-align: center;
}