@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url(https://fonts.googleapis.com/css?family=Roboto);

$small-cell-size: 15px;
$med-cell-size: 12.5px;
$large-cell-size: 11px;
$small-width-cell-count:50;
$small-height-cell-count:30;
$med-width-cell-count: 70;
$med-height-cell-count: 50;
$large-width-cell-count: 75;
$large-height-cell-count: 60;
$prim-app-color: #494a51;
$border-radius: 10px;
$board-padding: 8px;
$grid-gap: 1px;


body{
  background-color: #535640;
}

#nav-bar{
  width: 100%;
  background-color: lightgrey;
}

h1{
  margin-right: 5px;
}

#title{
  display:flex;
  justify-content: center;
  align-items: center;
}

#home{
  color: white;
}

.footer{
  text-align: center;
}

#app{
  margin-top: 20px /*need margin so that content not covered by header which is fixed at the top of the screen*/
}

#div-top-option{ /*div that contains the top options (Run, Pause, Clear)*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $prim-app-color;
  width: 500px;
  margin: 0px auto;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  padding-left:15px;
  padding-right:15px;
}

#div-board{ /*div that contains board. Size props handled within React*/
  background-color: $prim-app-color;
  border-radius: $border-radius;
  padding: 8px;
  margin: 0 auto;
}

.board-small{
  width: $small-width-cell-count * $small-cell-size + ($small-width-cell-count - 1) * $grid-gap + $board-padding * 2; 
}

.board-medium{
  width: $med-width-cell-count * $med-cell-size + ($med-width-cell-count - 1) * $grid-gap + $board-padding * 2; /*944px*/
}

.board-large{
  width: $large-width-cell-count * $large-cell-size + ($large-width-cell-count - 1) * $grid-gap + $board-padding * 2; 
}

#div-cells{
  display: grid;
  grid-gap: $grid-gap;
  background-color: $prim-app-color;
}

.grid-small{
  grid-template-columns: repeat($small-width-cell-count, $small-cell-size);
  grid-template-rows: repeat($small-height-cell-count, $small-cell-size);
}
.grid-medium{
  grid-template-columns: repeat($med-width-cell-count, $med-cell-size);
  grid-template-rows: repeat($med-height-cell-count, $med-cell-size);
}
.grid-large{
  grid-template-columns: repeat($large-width-cell-count, $large-cell-size);
  grid-template-rows: repeat($large-height-cell-count, $large-cell-size);
}

#div-bottom-option{ /*div that contains bottom options (Board Size buttons and Sim Speed buttons*/
  background-color: $prim-app-color;
  width: 550px;
  height: 100px;
  margin: 0px auto;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

#div-disclaimer{ /*div that contains the bottom disclaimer text*/
  background-color: $prim-app-color;
  font-size:14px;
  text-align: center;
  width: 600px;
  height: 35px;
  margin: 10px auto;
  padding-top: 8px;
  border-radius: $border-radius;
  color:white;
}

#generation{
  color: white;
  font-size: 18px;
  margin-left: 20px;
}

.bot-op-text{ /*option text to the left of the bottons*/
  display: inline-block;
  color:white;
  font-size: 17px;
  width: 90px;
  margin-left: 30px;
  margin-right: 10px;
}

.cell{
  width: 100%;
  height: 100%;
}

