body{
  background: #f2f2f2;
}

header{
  width: 100%;
  background-color: lightgrey;
}

#body{
  
  margin: 30px auto; /*auto margin centers horizontally*/
  width: 1425px; /*guess and check*/
  box-shadow: 0px 0px 15px 0px #383a3a;
  padding: 10px 35px;
  padding-bottom: 20px;
}

.cell:hover {
  opacity: 0.6;
}

p{
  text-align: center;
  margin-top: 5px; /*override default margin*/
}

h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 0px; /*override default*/
}
h3{
  text-align: center;
  margin-top: 5px; /*override default*/
  margin-bottom: 5px; /*override default*/
  font-size: 20px;
}

.axis{
  font-size: 15px;
}

.axis-label{
  font-size: 21px;
  font-weight: bold;
}

.tooltip {
  position: absolute; /*allows positioning by specifying x and y*/
  text-align: center;
  padding: 5px;
  border-radius: 5px; /*rounded edges*/
  pointer-events: none; /*hover sometimes interrupted without this*/
  background-color: black;
  color: white; /*text color*/
}