/****** Main Styling ******/

#nav-bar{
  width: 100%;
  background-color: lightgrey;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #FaFaFa;
}
h1, h3, .proj-type {
  text-align: center;
}

a {
	color: #2574A9;
}

.proj-descript{
  margin-left: 20px;
}

.footer{
  text-align: center;
}