@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

input, textarea {
    font-family: 'Montserrat', sans-serif;
    padding: 2px 4px;
    box-sizing:border-box;
    font-size: 1em;
    width: 100%;
    border: 1px solid #858585;
}

textarea {
    resize: vertical;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
    font-weight: 400;
}

.hidden {
    visibility: hidden;
}

.clickable {
  cursor: pointer;
  color: blue;
}

.container{
    text-align: center;
    padding: .8em 1.2em;
    margin: 0 auto;
}

#hero-container {
    background: #1C652B;
    color: white;
}

#logo {
    width: 80px;
}

#icon-back {
    width: 18px;
}

#link-back {
    color: white;
}

#link-back p {
    font-size: 1em;
    line-height: 50px;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
}

#link-back {
    display: flex;
}

h1{
    font-weight: 500;
    font-size: 1.8em;
}

#main-container{
    background: #258A39;
    color: white;
    padding: 20px 0;
}

#board-container h2 {
    font-size: 1.73em;
    font-weight: 500;
    padding-top: .4em;
    padding-bottom: 1.2em;
    overflow-wrap: break-word;
}

#form-change-board input[type=text] {
    font-size: 1em;
    margin-bottom: 10px;
    padding: 2px;
}

#board-container input[type=submit], #form-new-thread input[type=submit] {
    font-size: 1em;
    width: 150px;
    border-radius: 10px;
    padding: 3px;
}

#button-change-board {
    color: white;
    background: #d75def;
    border:  2px solid #A0AF51;
    cursor: pointer;
}

#button-change-board:hover {
    background: #9c42ad;
}

#form-change-board {
    margin-bottom: 25px;
}

#board-container h3 {
    font-size: 1.25em;
}

#form-new-thread {
    padding: 10px 0;
}

#form-new-thread>*{
    margin-bottom: 10px;
}

.button-create {
    background: #8BCC6F;
    border: 2px solid #258A39;
    cursor: pointer;
    border-radius: 10px;
}

input.button-create:hover {
    background: rgb(169, 247, 136);
}

.button-delete {
    background: #cb3434;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button-delete:hover {
    background: #942525;
}

.thread-container {
    background: #85BE91;
    color: black;
    font-size: .9em;
    padding: .6em;
    margin-top: 10px;
    margin-bottom: 1em;
    box-shadow: 5px 5px 10px #555555;
}

.thread-container input, .thread-container textarea {
    font-size: .9em;
    margin-bottom: 5px;
}

.thread-id-date, .reply-id-date {
    display: flex;
    justify-content: space-between;
    font-size: .6em;
    margin-bottom: 10px;
}


.delete-thread input[type=password]{
    margin-bottom: 7px;
}

.delete-thread input[type=submit] {
    width: 120px;
    padding: 2px;
    float: left;
}

.report {
    display: flex;
    justify-content: flex-end;
}

.report p {
    text-decoration: underline;
}

.thread-container .report img {
    width: 14px;
    margin-right: 5px;
}

.thread-text, .total-replies {
    padding-top: 1.5em;
    padding-bottom: 1em;
}

.thread-container h3 {
    font-size: 1.35em;
    font-weight: 500;
    margin-bottom: 5px;
}

.thread-text a {
    text-decoration: none;
}

.create-reply input[type=submit] {
    width: 120px;
    padding: 2px;
}

.total-replies{
    font-size: .9em;
}

.reply-container {
    background: #CEE5D3;
    padding: .5em;
    margin-bottom: 1em;
    font-size: .95em;
    box-shadow: 5px 5px 10px #838383;
}

.reply-text { 
    padding-top: 1.2em;
    padding-bottom: 1.5em;
}

.reply-container h4 {
    font-size: 1.1em;
    margin-bottom: 3px;
}

.reply-container input[type=submit] {
    width: 110px;
    padding: 2px;
    float: left;
}

.reply-container .report img {
    width: 13px;
}

.reply-container .report p {
    font-size: .9em;
}

.reply-container .report {
    margin-bottom: .5em;
}

#footer-container {
    background: #1C652B;
    color: white;
    font-size: .8em;
}

@media only screen and (min-width: 500px) {
    .container {
        width: 80%;
    }

    .container-two, .thread-delete-report, .reply-delete-report {
        width: 75%;
        margin: 0 auto;
    }

    .thread-container {
        padding: 1em 1.8em;
    }
    .thread-container input, .thread-container textarea {
        font-size: 1em;
    }

    .thread-id-date{
        font-size: .78em;
        margin-bottom: 15px;
    }

    .thread-text, .total-replies {
        padding-top: 2em;
        padding-bottom: 1.5em;
    }

    .delete-thread input[type=password]{
        margin-bottom: 10px;
    }

    .create-reply input[type=password] {
        margin-bottom: 10px;
    }

    .total-replies {
        font-size: 1em;
    }

    .reply-container {
        padding: 1em 1.8em;
    }

    .reply-id-date {
        font-size: .7em;
    }

    .reply-container h4 {
        font-size: 1.22em;
    }

    .delete-reply input[type=password] {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 800px) {
    nav {
        display: inline;
    }

    #logo {
        float: left;
    }

    #link-back {
        float: right;
    }

    #hero-container {
        padding: .6em 0;
    }

    #logo, #link-back {
        margin-top: -5px;
    }

    input[type=password] {
        margin-right: 5px;
    }

    input[type=password], input[type=text] {
        width: 305px;
    }

    #form-change-board input[type=text] {

        margin-right: 5px;
        margin-bottom: 0;
    }

    #board-container h3 {
        text-align:left;
    }

    #form-new-thread {
        text-align: right;
    }

    .thread-container .container-two, .thread-delete-report, .reply-delete-report {
        width: 100%;
    }

    .delete-thread input[type=submit] {
        float: none;
    }

    .report {
        float: right;
    }

    .thread-delete-report, .reply-delete-report {
        display: flex;
        justify-content: space-between;
    }

    .thread-delete-report .report img {
        margin-top: -13px;
    }

    .total-replies {
        display: flex;
        padding-bottom: .5em;
    }

    .total-replies h4{
        margin-right: 10px;
    }

    .create-reply {
        text-align: right;
    }

    .delete-reply input[type=submit] {
        float: none;
    }

    .reply-container .report p {
        font-size: inherit;
    }
}

@media only screen and (min-width: 1050px) {
    
    #hero-container {
        padding: 1.2em 0;
    }

    #logo {
        width: 120px;
        margin-top: -16px;
    }

    #icon-back {
        width: 22px;
    }

    #link-back p {
        font-size: 1.3em;
    }

    h1 {
        font-size: 2em;
    }

    #board-container h2 {
        font-size: 1.9em;
        padding-top: .8em;
        padding-bottom: 1.6em;
    }

    input[type=password], input[type=text] {
        width: 375px;
    }

    #form-change-board {
        margin-bottom: 45px;
    }

    #board-container h3 {
        font-size: 1.3em;
    }

    .thread-container {
        margin-top: 30px;
    }

    .thread-id-date {
        font-size: .9em;
    }

    .thread-text {
        padding: 2.5em 0;
    }

    .thread-container h3 {
        font-size: 1.7em;
        margin-bottom: 8px;
    }

    .thread-text a {
        font-size: 1.1em;
    }

    .reply-container {
        margin-bottom: 1.4em;
    }

    .create-reply{
        width: 75%;
        margin: 0 auto;
    }

    .create-reply input[type=password] {
        margin-top: 5px;
    }

    .total-replies {
        font-size: 1.2em;
    }

    .reply-id-date {
        font-size: .9em;
    }

    .reply-container h4 {
        font-size: 1.4em;
        margin-bottom: 7px;
    }

    .reply-text {
        padding-top: 1.8em;
        padding-bottom: 2em;
    }

    #footer-container {
        font-size: 1em;
        padding: 1em 0;
    }
}

@media only screen and (min-width: 1300px) {

    #board-container .container-two {
        width:55em;
    }

    .thread-container .container-two {
        width: 70em;
    }

    .thread-id-date, .reply-id-date {
        justify-content: start;
    }

    .thread-id-date p:nth-child(1), .reply-id-date p:nth-child(1) {
        margin-right: 5px;
    }

    .thread-delete-report, .reply-delete-report {
        justify-content: end;
        flex-direction: row-reverse;
        width: auto;
        margin: 0;
    }

    .delete-thread input[type=password], .delete-reply input[type=password] {
        width: 300px;
    }

    .delete-thread input[type=password], .delete-reply input[type=password] {
        margin-left: 10px;
    }

    .report {
        float: none;
    }
    
    .thread-header {
        display: flex;
        justify-content: space-between;
    }

    .replies-container {
        width: 98%;
        margin: 0 auto;
    }

    .reply-container {
        display: grid;
        grid-template-areas: "one two" "three three";
    }

    .reply-text {
        padding-bottom: 1.85em;
        grid-area: three;
    }

    .reply-id-date {
        grid-area: one;
    }

    .reply-delete-report {
        grid-area: two;
        justify-self: end;
    }
}

@media only screen and (min-width: 1500px) {
    .replies-container {
        width: 85%;
    }
}


@media only screen and (min-width: 1700px) {
    .container {
        width: 75%;
    }

    .replies-container {
        width: 80%;
    }
}

@media only screen and (min-width: 1950px) {
    .container {
        width: 70%;
    }

    .replies-container {
        width: 75%;
    }
}