@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url(https://fonts.googleapis.com/css?family=Roboto);

span{
  margin-right: 10px;
}

#nav-bar{
  width: 100%;
  background-color: lightgrey;
}

body{
  background-color: black;
  text-align: center;
  color:white;
}